<main class="w-full mx-auto bg-gray-200">
	<div *ngIf="!this.drawer.opened" class="buscador-tab" (click)="drawer.open()">Buscador</div>

	<section class="flex w-full bg-gray-200 max-w-[1500px] justify-center mx-auto" [formGroup]="formAdvanced">
		<mat-drawer-container class="example-container" autosize>
			<mat-drawer #drawer class="example-sidenav" [mode]="this.sideBarMode">
				<div #sidebar class="w-[100%] bg-gray-200 flex flex-col items-center relative">
					<!-- <div class="bg-white w-3/4 h-48 flex items-center rounded-lg mt-6 shadow-lg"></div>
					<div class="bg-white w-3/4 h-32 flex items-center rounded-lg mt-6 shadow-lg"></div> -->
					<div class="bg-white w-11/12 py-4 px-4 flex items-center rounded-lg mt-6 shadow-lg">
						<div class="flex flex-col w-full">
							<div class="mx-6">
								<h3 class="text-left ml-1 text-blue-400 font-semibold">Rango de precio</h3>
							</div>
							<div class="w-full flex flex-col justify-center items-center">
								<div class="py-3 flex w-full justify-between gap-4" [formGroup]="formAdvanced">
									<div class="flex flex-col w-1/2 justify-between">
										<span class="ml-2 text-gray-400">Minimo</span>
										<span class="bg-gray-200 w-full text-center py-2 rounded-lg text-gray-500 font-semibold">${{ formAdvanced.get('minPrice')?.value }}</span>
									</div>
									<div class="flex flex-col w-1/2">
										<span class="ml-2 text-gray-400">Maximo</span>
										<span class="bg-gray-200 w-full text-center py-2 rounded-lg text-gray-500 font-semibold">${{ formAdvanced.get('maxPrice')?.value }}</span>
									</div>
								</div>

								<mat-slider min="20000" max="1000000" step="1000" class="w-full" color="''">
									<input formControlName="minPrice" matSliderStartThumb />
									<input formControlName="maxPrice" matSliderEndThumb />
									<!-- [(ngModel)]="minValue"
									[(ngModel)]="maxValue" -->
								</mat-slider>
							</div>
						</div>
					</div>
					<div class="bg-white w-11/12 h-140 flex flex-col items-center rounded-lg mt-6 shadow-lg px-4 py-4">
						<div class="flex justify-between w-full px-2">
							<h2 class="text-blue-400 font-semibold my-auto">Preferencias</h2>
						</div>
						<div>
							<button (click)="selectedAllCheckbox()" class="px-3 py-2 rounded-md border-none bg-gray-200 text-gray-500 font-semibold">{{ selectAllChecked ? 'Desmarcar Todo' : 'Seleccionar Todo' }}</button>
						</div>
						<div class="w-full mt-5 flex flex-col justify-center overflow-y-scroll">
							<input type="text" class="w-full border-b-[3px] border-gray-300" placeholder="Ingrese palabra clave" (input)="onInputChange($event)" formControlName="searchText" />
							<div class="w-full mt-4 overflow-auto">
								<div *ngFor="let filteredCheckbox of filteredCheckboxList" class="flex flex-row gap-4">
									<mat-checkbox (change)="onChangeCheckbox(filteredCheckbox.value)" formControlName="{{ filteredCheckbox.value }}">{{ filteredCheckbox.name }} </mat-checkbox>
								</div>
							</div>
						</div>
					</div>
					<div class="bg-white w-11/12 items-center rounded-lg mt-6 shadow-lg px-3 py-4 flex flex-col">
						<h2>Tipos de propiedades</h2>
						<div class="w-full flex items-center justify-center flex-col">
							<mat-form-field class="w-full flex items-center justify-center lg:mt-[18px] z-99">
								<mat-select class="w-full z-9999" formControlName="property_type_id">
									<mat-option value="" class="z-99" selected>Seleccionar</mat-option>
									<mat-option class="z-99" *ngFor="let propertyType of propertyTypes" [value]="propertyType.id">{{ propertyType.name }}</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
					</div>
					<div class="bg-white w-11/12 mb-26 flex flex-col items-center rounded-lg mt-6 shadow-lg px-3 py-4">
						<h2>Tipo de seleccion</h2>
						<div class="flex mt-2 gap-3">
							<mat-chip-listbox aria-label="Fish selection" class="flex flex-col lg:flex-row mt-6 lg:mt-0" formControlName="buyOrRent">
								<mat-chip-option class="rounded" value="buy">Comprar</mat-chip-option>
								<mat-chip-option class="rounded" value="rent">Rentar</mat-chip-option>
							</mat-chip-listbox>
						</div>
					</div>
					<div class="w-full">
						<button [ngStyle]="{ width: sidebarRef?.nativeElement?.offsetWidth - 32 + 'px' }" style="z-index: 999" (click)="onSubmit()" class="ml-4 fixed bottom-7 bg-blue-400 py-3 mt-5 text-white text-xl rounded-md">Buscar</button>
					</div>
				</div>
			</mat-drawer>

			<div class="example-sidenav-content">
				<div class="w-[100%] bg-gray-200 flex flex-col relative min-h-[100vh] min-w-[75vw] mx-auto">
					<ng-container *ngIf="hasLoaded">
						<!-- Mostrar el spinner de carga mientras la petición esté en curso -->
						<div class="w-[97%] mt-10 grid gap-y-5 gap-x-3 z-60 mb-4 items-center justify-center" #box2>
							<div class="w-[100%] min-h-[75vh] flex items-center gap-12 px-6 py-2 rounded-md">
								<mat-spinner></mat-spinner>
							</div>
						</div>
					</ng-container>
					<ng-container *ngIf="!hasLoaded">
						<!-- Mostrar las propiedades si la petición ha terminado y el arreglo no está vacío -->
						<div class="w-[97%] mt-10 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-y-5 gap-x-3 z-60 mb-44" #box2>
							<div *ngFor="let property of dataProperties" class="col-span-1 w-full">
								<div class="w-full m-auto">
									<app-property-card [property]="property"></app-property-card>
								</div>
							</div>
						</div>
						<!-- Mostrar el mensaje si la petición ha terminado y el arreglo está vacío -->
						<div *ngIf="dataProperties.length === 0" class="w-[97%] mt-10 grid gap-y-5 gap-x-3 z-60 mb-4 items-center justify-center" #box2>
							<div class="w-[450px] min-h-12 flex items-center gap-12 px-6 py-2 rounded-md">
								<img src="../../../../assets/images/ui/pngs/searching.png" alt="" class="w-20 h-20" />
								<h1 class="text-[16px] text-gray-500 font-semibold">No se encontraron propiedades</h1>
							</div>
						</div>
					</ng-container>
					<ng-container *ngIf="dataProperties.length > 0">
						<div class="fixed top-[88%] z-99">
							<mat-paginator class="shadow-2xl" [ngStyle]="{ width: secondBox?.nativeElement?.offsetWidth + 'px' }" [length]="propertiesPaginated?.total" [pageSize]="propertiesPaginated?.per_page" [pageSizeOptions]="[10, 25, 100]" (page)="paginate($event)" aria-label="Select page"> </mat-paginator>
						</div>
					</ng-container>
				</div>
			</div>
		</mat-drawer-container>
	</section>
</main>
