/* Ejemplo de clase personalizada para un color azul */
.custom-slider-color {
	--thumb-background: #088bf7;
	--slider-background: #90cdf4;
}

mat-slider input {
	background-color: #088bf7;
}

::ng-deep mat-drawer-content{
	max-height: 93vh;
	overflow: auto;
}

::ng-deep mat-drawer-content{
	max-height: 93vh;
	overflow: auto;
}

.buscador-tab{
	position: fixed;
	background: #2590f4;
	z-index: 99;
	color: white;
	padding: 5px 14px;
	top: 11%;
	left: 0;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	font-size: 18px;
}

body{
	overflow: hidden;
}
