<div class="w-full max-w-3xl m-auto">
			<!-- Form -->
			<form>
					<!-- Section -->
					<div class="grid sm:grid-cols-2 gap-8 w-full mb-8">
						<div class="w-full col-span-1">
								<div class="text-3xl font-bold">Crear Contacto</div>
								<div class="text-secondary">Ingresa la informacion para crear un contacto</div>
						</div>
						<div class="col-span-1 relative">
							<div class="absolute -translate-y-2/4 top-2/4 left-0 right-0">
								<fuse-alert
											*ngIf="showAlert"
											[appearance]="'outline'"
											[showIcon]="false"
											[type]="alert.type"
											[@shake]="alert.type === 'error'">
											{{alert.message}}
								</fuse-alert>
							</div>
						</div>
					</div>
					<div [formGroup]="contactForm" class="grid sm:grid-cols-2 gap-y-1 gap-x-5 w-full mt-8">
						<div class="col-span-1">
							<mat-form-field class="w-full">
								<mat-label>Nombres</mat-label>
								<input id='first_name' type="text" formControlName="first_name" matInput>
								<mat-error
								*ngIf="contactForm.get('first_name').hasError('required')"
								>Este campo es obligatorio</mat-error>
								<mat-error
								*ngIf="contactForm.get('first_name').hasError('first_name')"
								>Este campo es obligatorio</mat-error>
								<mat-error *ngFor="let i of _globalService.errorsLength(contactForm.get('first_name'))">
									<ng-container *ngIf="contactForm.get('code').hasError(i)">
										{{contactForm.get('first_name').errors[i]}}
									</ng-container>
								</mat-error>
							</mat-form-field>
						</div>
						<div class="col-span-1">
							<mat-form-field class="w-full">
								<mat-label>Apellidos</mat-label>
								<input id='last_name' type="text" formControlName="last_name" matInput>
								<mat-error *ngFor="let i of _globalService.errorsLength(contactForm.get('last_name'))">
									<ng-container *ngIf="contactForm.get('last_name').hasError(i)">
										{{contactForm.get('last_name').errors[i]}}
									</ng-container>
								</mat-error>
							</mat-form-field>
						</div>
						<div class="col-span-1">
							<mat-form-field class="w-full">
								<mat-label>Cedula de identidad</mat-label>
								<input id='document' type="text" formControlName="document" matInput>
								<mat-error *ngFor="let i of _globalService.errorsLength(contactForm.get('document'))">
									<ng-container *ngIf="contactForm.get('document').hasError(i)">
										{{contactForm.get('document').errors[i]}}
									</ng-container>
								</mat-error>
							</mat-form-field>
						</div>
						<div class="col-span-1">
							<mat-form-field class="w-full">
								<mat-label>Email</mat-label>
								<input id='email' type="text" formControlName="email" matInput>
								<mat-error *ngFor="let i of _globalService.errorsLength(contactForm.get('email'))">
									<ng-container *ngIf="contactForm.get('email').hasError(i)">
										{{contactForm.get('email').errors[i]}}
									</ng-container>
								</mat-error>
							</mat-form-field>
						</div>
						<div class="col-span-1">
							<mat-form-field class="w-full">
								<mat-label>Ciudad</mat-label>
								<input id='city' type="text" formControlName="city" matInput>
								<mat-error *ngFor="let i of _globalService.errorsLength(contactForm.get('city'))">
									<ng-container *ngIf="contactForm.get('city').hasError(i)">
										{{contactForm.get('city').errors[i]}}
									</ng-container>
								</mat-error>
							</mat-form-field>
						</div>
						<div class="col-span-1">
							<mat-form-field class="w-full">
								<mat-label>Profesion</mat-label>
								<input id='profession' type="text" formControlName="profession" matInput>
								<mat-error *ngFor="let i of _globalService.errorsLength(contactForm.get('profession'))">
									<ng-container *ngIf="contactForm.get('profession').hasError(i)">
										{{contactForm.get('profession').errors[i]}}
									</ng-container>
								</mat-error>
							</mat-form-field>
						</div>
						<!-- <div class="col-span-1">
							<mat-form-field class="w-full">
								<mat-label>Telefono</mat-label>
								<input id='phone' type="text" formControlName="phone" matInput>
								<mat-error *ngFor="let i of _globalService.errorsLength(contactForm.get('phone'))">
									<ng-container *ngIf="contactForm.get('phone').hasError(i)">
										{{contactForm.get('phone').errors[i]}}
									</ng-container>
								</mat-error>
							</mat-form-field>
						</div> -->

						<div class="col-span-2">
							<mat-form-field class="w-full">
								<mat-label>Empresa</mat-label>
								<input id='company' type="text" formControlName="company" matInput>
								<mat-error *ngFor="let i of _globalService.errorsLength(contactForm.get('company'))">
									<ng-container *ngIf="contactForm.get('company').hasError(i)">
										{{contactForm.get('company').errors[i]}}
									</ng-container>
								</mat-error>
							</mat-form-field>
						</div>
					</div>
					<!-- Divider -->
					<div class="mt-11 mb-10 border-t"></div>
					<!-- Actions -->
					<div class="flex items-center justify-end">
							<button
									class="ml-4"
									mat-flat-button
									type="button"
									(click)="this.contactID ? updateContact() : createContact()"
									[color]="'primary'">Guardar
							</button>
					</div>
			</form>

</div>
