<div class="w-full">
	<!-- {{property.images | json}} -->
	<div class="w-screen property-banner">
		<app-carousel class="w-[100%] px-10 lg:p-0 flex flex-col mt-12" [maxwidthStyle]="'100vw'">
			<div *ngFor="let img of bannerImgs" class="keen-slider__slide h-120 m-auto w-full">
				<div class="h-full w-full img bg-cover bg-no-repeat bg-center" (click)="openDialog(environment.assets + '/storage/properties/' + img.name, 'Banner')" style="background-image: url({{ environment.assets }}/storage/properties/{{ img.name }})"></div>
			</div>
		</app-carousel>
		<!-- <owl-carousel-o  class='owl-carousel-o' [options]="customOptions">
			<ng-template *ngFor="let img of bannerImgs" carouselSlide id="carou1">
				<div>
					<div class="h-60 md:h-120 img bg-cover bg-no-repeat bg-center" (click)="openDialog(environment.assets+'/storage/properties/'+img.name, 'Banner')" style="background-image: url({{environment.assets}}/storage/properties/{{img.name}})"></div>
				</div>
			</ng-template>
		</owl-carousel-o> -->
	</div>
	<div class="grid grid-cols-3 gap-5 mx-auto mt-5 md:max-w-320 max-w-160">
		<div class="col-span-2">
			<div class="flex flex-col gap-10">
				<div class="bg-card shadow rounded-2xl p-6">
					<div class="flex flex-col gap-2">
						<span class="bg-red-200 text-red-600 py-2 px-4 rounded-full text-sm w-fit">{{ property.contract_type?.name }}</span>
						<h1 class="font-bold text-3xl leading-8">{{ property.name }}</h1>
						<div class="flex gap-1 items-center">
							<mat-icon class="font-light text-slate-600">location_on</mat-icon>
							<div class="font-light text-slate-600">{{ property.address }}</div>
						</div>
						<div>
							<span class="text-3xl text-green-600 font-extrabold">{{ property.price }}</span>
							<span class="text-sm text-slate-400"> {{ property.currency?.name }}</span>
						</div>
						<div class="mt-2 flex gap-4">
							<div class="flex items-center gap-1">
								<mat-icon class="text-2xl p-1 bg-slate-300 text-slate-600 rounded-full" svgIcon="mat_solid:bed"></mat-icon>
								<span class="text-slate-400 text-base">{{ property.bedrooms }} habitaciones</span>
							</div>
							<div class="flex items-center gap-1">
								<mat-icon class="text-2xl p-1 bg-slate-300 text-slate-600 rounded-full" svgIcon="mat_solid:bathtub"></mat-icon>
								<span class="text-slate-400 text-base">{{ property.bathrooms }} baño</span>
							</div>
							<div class="flex items-center gap-1">
								<mat-icon class="text-2xl p-1 bg-slate-300 text-slate-600 rounded-full" svgIcon="feather:move"></mat-icon>
								<span class="text-slate-400 text-base">{{ property.size }}m<sup>2</sup></span>
							</div>
						</div>
					</div>
				</div>
				<mat-accordion class="example-headers-align" multi>
					<mat-expansion-panel [expanded]="true">
						<mat-expansion-panel-header>
							<mat-panel-title>
								<span class="font-bold text-lg">Detalles y características</span>
							</mat-panel-title>
						</mat-expansion-panel-header>
						<div class="flex flex-wrap flex-col md:flex-row gap-5 md:gap-0">
							<div class="w-full md:w-1/3 flex flex-col gap-5">
								<div>
									<strong class="text-base text-slate-600">Habitaciones: </strong>
									<span class="text-slate-400">3</span>
								</div>
								<div>
									<strong class="text-base text-slate-600">Garaje: </strong>
									<span class="text-slate-400">{{ property.parking ? 'Si' : 'No' }}</span>
								</div>
								<div>
									<strong class="text-base text-slate-600">Status: </strong>
									<span class="text-slate-400">{{ property.status?.name }}</span>
								</div>
								<div *ngIf="property.kitchen !== 2">
									<strong class="text-base text-slate-600">Cocina: </strong>
									<span class="text-slate-400">{{ property.kitchen ? 'Si' : 'No' }}</span>
								</div>
							</div>
							<div class="w-full md:w-1/3 flex flex-col gap-5">
								<div *ngIf="property.bathrooms !== 2">
									<strong class="text-base text-slate-600">Baños: </strong>
									<span class="text-slate-400">{{ property.bathrooms }} baños</span>
								</div>
								<div>
									<strong class="text-base text-slate-600">Tipo de propiedad: </strong>
									<span class="text-slate-400">{{ property.property_type?.name }}</span>
								</div>
								<div *ngIf="property.fireplace !== 2">
									<strong class="text-base text-slate-600">Chimenea: </strong>
									<span class="text-slate-400">{{ property.fireplace ? 'Si' : 'No' }}</span>
								</div>
								<div *ngIf="property.elevator !== 2">
									<strong class="text-base text-slate-600">Elevador: </strong>
									<span class="text-slate-400">{{ property.elevator ? 'Si' : 'No' }}</span>
								</div>
							</div>
							<div class="w-full md:w-1/3 flex flex-col gap-5">
								<div *ngIf="property.size !== 2">
									<strong class="text-base text-slate-600">Area: </strong>
									<span class="text-slate-400">{{ property.size }} m<sup>2</sup></span>
								</div>
								<div>
									<strong class="text-base text-slate-600">Año: </strong>
									<span class="text-slate-400">{{ property.construction_year }}</span>
								</div>
								<div *ngIf="property.swimming_pool !== 2">
									<strong class="text-base text-slate-600">Piscina: </strong>
									<span class="text-slate-400">{{ property.swimming_pool }}</span>
								</div>
								<div *ngIf="property.wifi !== 2">
									<strong class="text-base text-slate-600">Wifi gratis: </strong>
									<span class="text-slate-400">{{ property.wifi ? 'Si' : 'No' }}</span>
								</div>
							</div>
						</div>
					</mat-expansion-panel>

					<mat-expansion-panel [expanded]="true">
						<mat-expansion-panel-header>
							<mat-panel-title>
								<span class="font-bold text-lg">Descripción</span>
							</mat-panel-title>
						</mat-expansion-panel-header>
						<div [innerText]="property.description" class="descripcion leading-7">
							<!-- {{property.description}} -->
						</div>
					</mat-expansion-panel>

					<mat-expansion-panel [expanded]="true">
						<mat-expansion-panel-header>
							<mat-panel-title>
								<span class="font-bold text-lg">Comodidades</span>
							</mat-panel-title>
						</mat-expansion-panel-header>
						<div class="flex flex-wrap flex-col md:flex-row gap-5 md:gap-0">
							<div class="w-full md:w-1/3 flex flex-col gap-5">
								<div class="flex gap-1 items-center">
									<mat-icon [class.text-lime-500]="property.bedrooms" [class.text-red-500]="!property.bedrooms">{{ property.bedrooms ? 'check_circle_outline' : 'close' }}</mat-icon>
									<span class="text-base text-slate-600">Habitaciones </span>
								</div>
								<div *ngIf="property.parking !== 2" class="flex gap-1 items-center">
									<mat-icon [class.text-lime-500]="property.parking" [class.text-red-500]="!property.parking">{{ property.parking ? 'check_circle_outline' : 'close' }}</mat-icon>
									<span class="text-base text-slate-600">Garaje </span>
								</div>
								<div *ngIf="property.kitchen !== 2" class="flex gap-1 items-center">
									<mat-icon [class.text-lime-500]="property.kitchen" [class.text-red-500]="!property.kitchen">{{ property.kitchen ? 'check_circle_outline' : 'close' }}</mat-icon>
									<span class="text-base text-slate-600">Cocina </span>
								</div>
								<div *ngIf="property.elevator !== 2" class="flex gap-1 items-center">
									<mat-icon [class.text-lime-500]="property.elevator" [class.text-red-500]="!property.elevator">{{ property.elevator ? 'check_circle_outline' : 'close' }}</mat-icon>
									<span class="text-base text-slate-600">Elevador </span>
								</div>
								<div *ngIf="property.security !== 2" class="flex gap-1 items-center">
									<mat-icon [class.text-lime-500]="property.security" [class.text-red-500]="!property.security">{{ property.security ? 'check_circle_outline' : 'close' }}</mat-icon>
									<span class="text-base text-slate-600">Seguridad </span>
								</div>
							</div>
							<div class="w-full md:w-1/3 flex flex-col gap-5">
								<div class="flex gap-1 items-center">
									<mat-icon [class.text-lime-500]="property.bathrooms" [class.text-red-500]="!property.bathrooms">{{ property.bathrooms ? 'check_circle_outline' : 'close' }}</mat-icon>
									<span class="text-base text-slate-600">Baños </span>
								</div>
								<div *ngIf="property.fireplace !== 2" class="flex gap-1 items-center">
									<mat-icon [class.text-lime-500]="property.fireplace" [class.text-red-500]="!property.fireplace">{{ property.fireplace ? 'check_circle_outline' : 'close' }}</mat-icon>
									<span class="text-base text-slate-600">Chimenea </span>
								</div>
								<div *ngIf="property.lobby !== 2" class="flex gap-1 items-center">
									<mat-icon [class.text-lime-500]="property.lobby" [class.text-red-500]="!property.lobby">{{ property.lobby ? 'check_circle_outline' : 'close' }}</mat-icon>
									<span class="text-base text-slate-600">Vestibulo </span>
								</div>
								<div *ngIf="property.balcony !== 2" class="flex gap-1 items-center">
									<mat-icon [class.text-lime-500]="property.balcony" [class.text-red-500]="!property.balcony">{{ property.balcony ? 'check_circle_outline' : 'close' }}</mat-icon>
									<span class="text-base text-slate-600">Balcon </span>
								</div>
								<div *ngIf="property.terrace !== 2" class="flex gap-1 items-center">
									<mat-icon [class.text-lime-500]="property.terrace" [class.text-red-500]="!property.terrace">{{ property.terrace ? 'check_circle_outline' : 'close' }}</mat-icon>
									<span class="text-base text-slate-600">Terraza </span>
								</div>
							</div>
							<div class="w-full md:w-1/3 flex flex-col gap-5">
								<div *ngIf="property.power_plant !== 2" class="flex gap-1 items-center">
									<mat-icon [class.text-lime-500]="property.power_plant" [class.text-red-500]="!property.power_plant">{{ property.power_plant ? 'check_circle_outline' : 'close' }}</mat-icon>
									<span class="text-base text-slate-600">Planta de poder </span>
								</div>
								<div *ngIf="property.walk_in_closet !== 2" class="flex gap-1 items-center">
									<mat-icon [class.text-lime-500]="property.walk_in_closet" [class.text-red-500]="!property.walk_in_closet">{{ property.walk_in_closet ? 'check_circle_outline' : 'close' }}</mat-icon>
									<span class="text-base text-slate-600">Vestidor </span>
								</div>
								<div *ngIf="property.swimming_pool !== 2" class="flex gap-1 items-center">
									<mat-icon [class.text-lime-500]="property.swimming_pool" [class.text-red-500]="!property.swimming_pool">{{ property.swimming_pool ? 'check_circle_outline' : 'close' }}</mat-icon>
									<span class="text-base text-slate-600">Piscina </span>
								</div>
								<div *ngIf="property.kids_area !== 2" class="flex gap-1 items-center">
									<mat-icon [class.text-lime-500]="property.kids_area" [class.text-red-500]="!property.kids_area">{{ property.kids_area ? 'check_circle_outline' : 'close' }}</mat-icon>
									<span class="text-base text-slate-600">Area de niños </span>
								</div>
								<div *ngIf="property.pets_allowed !== 2" class="flex gap-1 items-center">
									<mat-icon [class.text-lime-500]="property.pets_allowed" [class.text-red-500]="!property.pets_allowed">{{ property.pets_allowed ? 'check_circle_outline' : 'close' }}</mat-icon>
									<span class="text-base text-slate-600">Mascotas permitidas </span>
								</div>
							</div>
						</div>
					</mat-expansion-panel>

					<mat-expansion-panel [expanded]="true">
						<mat-expansion-panel-header>
							<mat-panel-title>
								<span class="font-bold text-lg">Videos</span>
							</mat-panel-title>
						</mat-expansion-panel-header>
						<!-- <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
							<mat-tab label="Link de youtube" *ngIf="property.youtube_link">
								<div class="flex flex-wrap">
									<iframe width="100%" height="400" [src]="updateVideoUrl(property.youtube_link)" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
							</mat-tab>
							<mat-tab label="Video de propiedad" *ngIf="property.video">
									<video width="100%" height="400" controls>
										<source [src]="getVideoUrl()" type="video/mp4">
										Your browser does not support the video tag.
									</video>
							</mat-tab>
						</mat-tab-group> -->
						<div class="flex flex-wrap" *ngIf="property?.youtube_link">
							<iframe width="100%" height="400" [src]="updateVideoUrl(property.youtube_link)" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
						<div class="flex flex-wrap" *ngIf="property?.video">
							<video width="100%" height="400" controls>
								<source [src]="getVideoUrl()" type="video/mp4" />
								Your browser does not support the video tag.
							</video>
						</div>
					</mat-expansion-panel>

					<!-- <mat-expansion-panel [expanded]="true">
						<mat-expansion-panel-header>
							<mat-panel-title>
								<span class="font-bold text-lg">Pisos</span>
							</mat-panel-title>
						</mat-expansion-panel-header>
						<div class="flex flex-wrap">
								<div class="w-full flex flex-col gap-5">
									<div class="flex gap-6 items-center">
										<strong class="text-base text-slate-600">Primero piso: </strong>
										<span class="px-3 py-1 text-slate-200 bg-slate-400">740m<sup>2</sup></span>
									</div>
									<div class="flex gap-9 items-center">
										<strong class="text-base text-slate-600">Segundo piso: </strong>
										<span class="px-3 py-1 text-slate-200 bg-slate-400">710m<sup>2</sup></span>
									</div>
									<div class="flex gap-9 items-center">
										<strong class="text-base text-slate-600">Garaje: </strong>
										<span class="px-3 py-1 text-slate-200 bg-slate-400">520m<sup>2</sup></span>
									</div>
							</div>
						</div>
					</mat-expansion-panel> -->

					<mat-expansion-panel [expanded]="true">
						<mat-expansion-panel-header>
							<mat-panel-title>
								<span class="font-bold text-lg">Galeria</span>
							</mat-panel-title>
						</mat-expansion-panel-header>
						<div class="w-full flex flex-wrap gap-3">
							<div (click)="openDialog(environment.assets + '/storage/properties/' + img?.name, 'Gallery')" *ngFor="let img of galleryImgs" style="background-image: url({{ environment.assets }}/storage/properties/{{ img?.name }}); width: 32%!important;" class="img h-30 bg-cover bg-no-repeat bg-center rounded-md cursor-pointer"></div>
						</div>
					</mat-expansion-panel>
				</mat-accordion>
				<mat-expansion-panel [expanded]="true">
					<mat-expansion-panel-header>
						<mat-panel-title>
							<span class="font-bold text-lg">Mapa</span>
						</mat-panel-title>
					</mat-expansion-panel-header>
					<iframe *ngIf="mapUrl" width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" [src]="mapUrl"> </iframe>
				</mat-expansion-panel>

				<!-- Otra -->
				<!-- <div class="bg-card shadow rounded-2xl p-6">
					<div class="flex flex-row gap-2 items-center">
						<div class="w-1/6">
							<div class="text-center">
								<div class="text-8xl text-slate-800 font-extrabold">4.2</div>
								<div style="transform: translateY(-15px);">
									<div class="text-lg text-slate-500">de 5.0</div>
									<div class="flex justify-center">
										<mat-icon class="text-xl text-yellow-500 justify-center">star_border</mat-icon>
										<mat-icon class="text-xl text-yellow-500 justify-center">star_border</mat-icon>
										<mat-icon class="text-xl text-yellow-500 justify-center">star_border</mat-icon>
										<mat-icon class="text-xl text-yellow-500 justify-center">star_border</mat-icon>
										<mat-icon class="text-xl text-yellow-500 justify-center">star_border</mat-icon>
									</div>
								</div>
							</div>
						</div>
						<div class="w-5/6">
							<div class="flex gap-10 items-center">
								<div class="w-1/2">
									<div>
										Service
										<div class="flex justify-center items-center gap-5">
											<mat-progress-bar class="bar1" mode="determinate" value="40"></mat-progress-bar>
											<div class="bg-slate-200 p-1 rounded-full">4.7</div>
										</div>
									</div>
									<div>
										Localidad
										<div class="flex justify-center items-center gap-5">
											<mat-progress-bar class="bar2" mode="determinate" value="40"></mat-progress-bar>
											<div class="bg-slate-200 p-1 rounded-full">4.7</div>
										</div>
									</div>
								</div>
								<div class="w-1/2">
									<div>
										Relación calidad-precio
										<div class="flex justify-center items-center gap-5">
											<mat-progress-bar class="bar3" mode="determinate" value="40"></mat-progress-bar>
											<div class="bg-slate-200 p-1 rounded-full">4.7</div>
										</div>
									</div>
									<div>
										Limpieza
										<div class="flex justify-center items-center gap-5">
											<mat-progress-bar class="bar4" mode="determinate" value="40"></mat-progress-bar>
											<div class="bg-slate-200 p-1 rounded-full">4.7</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> -->

				<!-- Otro Acordeon -->
				<!-- <mat-accordion class="example-headers-align" multi>

					<mat-expansion-panel [expanded]="true">
						<mat-expansion-panel-header>
							<mat-panel-title>
								<span class="font-bold text-lg">10 Reseñas</span>
							</mat-panel-title>
						</mat-expansion-panel-header>
						<div>
							<div class="flex gap-2">
								<div class="w-2/12">
									<img class="w-20 h-20 rounded-full mx-auto" src="https://themezhub.net/resido-live/resido/assets/img/user-1.jpg">
								</div>
								<div class="w-10/12">
									<div style="color: #2d3954;" class="text-xl font-bold">Rosalina Kelian</div>
									<div style="color: #00ba74" class="text-sm">19TH MAY 2018</div>
									<div>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim laborumab. perspiciatis unde omnis iste natus error.</div>
								</div>
							</div>
							<hr>
							<div class="flex gap-2">
								<div class="w-2/12">
									<img class="w-20 h-20 rounded-full mx-auto" src="https://themezhub.net/resido-live/resido/assets/img/user-5.jpg">
								</div>
								<div class="w-10/12">
									<div style="color: #2d3954;" class="text-xl font-bold">Rosalina Kelian</div>
									<div style="color: #00ba74" class="text-sm">19TH MAY 2018</div>
									<div>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim laborumab. perspiciatis unde omnis iste natus error.</div>
								</div>
							</div>
							<hr class="mb-4">
							<div style="color: #1266e3;" class="text-center font-semibold cursor-pointer">Ver mas reseñas</div>
						</div>
					</mat-expansion-panel>

					<mat-expansion-panel [expanded]="true">
						<mat-expansion-panel-header>
							<mat-panel-title>
								<span class="font-bold text-lg">Escribir reseña</span>
							</mat-panel-title>
						</mat-expansion-panel-header>
						<div>
								<mat-form-field class="w-full">
									<mat-label>Reseña</mat-label>
									<textarea matInput placeholder="Escribe tu reseña"></textarea>
								</mat-form-field>
							<div class="flex justify-end">
								<button mat-raised-button color="primary">Enviar</button>
							</div>
						</div>
					</mat-expansion-panel>

				</mat-accordion> -->
			</div>
		</div>
		<div class="col-span-3 md:col-span-1">
			<div class="flex flex-col gap-3">
				<div class="bg-card shadow rounded-2xl p-6">
					<div class="w-full flex gap-4">
						<button class="w-1/2 rounded-sm border-green-800 text-green-800 bg-green-100" mat-stroked-button>
							<div class="flex items-center gap-2">
								<mat-icon class="text-lg">share</mat-icon>
								<span>Compartir</span>
							</div>
						</button>
						<button class="w-1/2 rounded-sm border-red-700 text-red-700 bg-red-100" mat-stroked-button>
							<div class="flex items-center gap-2" (click)="addFavoriteProperty(propertyID, favorite === 1 ? 0 : 1)">
								<ng-container *ngIf="itsFavorite(); else notFavoriteTemplate">
									<svg xmlns="http://www.w3.org/2000/svg" fill="red" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
										<path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
									</svg>
								</ng-container>
								<ng-template #notFavoriteTemplate>
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
										<path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
									</svg>
								</ng-template>

								<span>Guardar</span>
							</div>
						</button>
					</div>
				</div>

				<div #card class="bg-card shadow rounded-2xl p-6">
					<div class="flex gap-4 rounded-t-2xl -m-6 p-6 items-center" [style]="'width: ' + card.offsetWidth + 'px'" style="background: #0fca98">
						<div>
							<!-- https://themezhub.net/resido-live/resido/assets/img/user-6.jpg -->
							<img *ngIf="!property.created_by?.img" class="w-15 h-15 rounded-full font-bold" [src]="'https://dummyimage.com/200/263547/fff&text=' + property.created_by?.first_name[0]" />
							<img *ngIf="property.created_by?.img" class="w-15 h-15 rounded-full font-bold" [src]="property.created_by?.img" />
						</div>
						<div>
							<div class="text-white text-2xl font-extrabold">{{ property.created_by?.first_name }} {{ property.created_by?.last_name }}</div>
							<div class="text-base text-slate-100 flex items-center gap-2">
								<mat-icon class="text-slage-100 text-base">phone</mat-icon>
								{{ property.created_by?.phone }}
							</div>
						</div>
					</div>
					<form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm, formDirective)" #formDirective="ngForm">
						<div class="w-full">
							<mat-form-field class="w-full mt-10">
								<mat-label>Email</mat-label>
								<input matInput formControlName="email" />
								<mat-error *ngIf="contactForm.get('email').hasError('required')">El email es requerido</mat-error>
								<mat-error *ngIf="contactForm.get('email').hasError('email')">El email no es válido</mat-error>
							</mat-form-field>
						</div>
						<div class="w-full">
							<mat-form-field class="w-full mt-2">
								<mat-label>Telefono</mat-label>
								<input matInput formControlName="phone" />
								<mat-error *ngIf="contactForm.get('phone').hasError('required')">El teléfono es requerido</mat-error>
								<mat-error *ngIf="contactForm.get('phone').hasError('minlength')">El teléfono debe tener al menos 6 caracteres</mat-error>
							</mat-form-field>
						</div>
						<div class="w-full">
							<mat-form-field class="w-full mt-2">
								<mat-label>Mensaje</mat-label>
								<textarea matInput formControlName="message"></textarea>
								<mat-error *ngIf="contactForm.get('message').hasError('required')">El mensaje es requerido</mat-error>
							</mat-form-field>
						</div>
						<div class="w-full">
							<button class="w-full rounded-lg text-white mt-2" mat-stroked-button style="background: #263547">
								<div class="flex items-center gap-2">
									<mat-icon class="text-lg text-white">send</mat-icon>
									<span>Enviar</span>
								</div>
							</button>
						</div>
						<div class="w-full mt-4" *ngIf="showServerResponse">
							<div class="text-center bg-[#0fca98] text-white py-3 px-4 rounded-lg">{{ serverResponse }}</div>
						</div>
					</form>
				</div>
				<div #card2 class="bg-card shadow rounded-2xl p-6">
					<div class="flex gap-4 rounded-t-2xl -m-6 p-6 items-center" [style]="'width: ' + card2.offsetWidth + 'px'" style="background: #0fca98">
						<div>
							<div class="text-white text-2xl font-extrabold">Shivangi Preet</div>
							<div class="text-base text-slate-100 flex items-center gap-2">View your Interest Rate</div>
						</div>
					</div>
					<div class="mt-10">
						<div class="w-full">
							<mat-form-field class="w-full">
								<mat-label>Precio de venta</mat-label>
								<input matInput type="text" />
								<mat-icon matSuffix>attach_money</mat-icon>
							</mat-form-field>
						</div>
						<div class="w-full">
							<mat-form-field class="w-full">
								<mat-label>Depósito</mat-label>
								<input matInput type="text" />
								<mat-icon matSuffix>attach_money</mat-icon>
							</mat-form-field>
						</div>
						<div class="w-full">
							<mat-form-field class="w-full">
								<mat-label>Plazo del préstamo (años)</mat-label>
								<input matInput type="text" />
								<mat-icon matSuffix>calendar_today</mat-icon>
							</mat-form-field>
						</div>
						<div class="w-full">
							<mat-form-field class="w-full">
								<mat-label>Tasa de interés</mat-label>
								<input matInput type="text" />
								<!-- Percentage -->
								<mat-icon matSuffix>percent</mat-icon>
							</mat-form-field>
						</div>
						<div class="w-full">
							<button class="w-full rounded-lg text-white" mat-stroked-button style="background: #263547">
								<div class="flex items-center gap-2">
									<mat-icon class="text-lg text-white" svgIcon="mat_solid:calculate"></mat-icon>
									<span>Calcular</span>
								</div>
							</button>
						</div>
					</div>
				</div>

				<!-- Other properties -->

				<div class="mt-5">
					<div class="font-bold text-2xl mb-2" style="color: #2d3954">Propiedades destacadas</div>

					<div *ngFor="let featureProperty of featureProperties" class="cursor-pointer bg-card shadow rounded-2xl p-3 mt-5" (click)="goToProperty(featureProperty.id)">
						<div class="flex gap-2">
							<div class="w-1/4 img h-20 bg-cover bg-no-repeat bg-center rounded-md" style="background-image: url({{ environment.assets }}/storage/properties/{{ featureProperty?.images[0]?.name }});"></div>
							<div class="w-3/4">
								<div style="color: #4e5c79" class="font-bold text-lg">{{ featureProperty.name }}</div>
								<div class="flex gap-1 items-center text-sm">
									<mat-icon class="font-light text-lg text-slate-600">location_on</mat-icon>
									<div class="font-light text-slate-600">{{ featureProperty.address }}</div>
								</div>
								<div class="flex w-full justify-between items-center text-sm mt-2">
									<span class="bg-red-200 text-red-600 py-1 px-2 rounded-full text-sm w-fit">{{ featureProperty.contract_type?.name }}</span>
									<div class="text-slate-600 text-lg font-extrabold">${{ featureProperty.price }}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
