.property-banner .owl-carousel-o {
	width: 100%;
}

::ng-deep .property-banner .owl-nav {
	display: flex !important;
	justify-content: space-between !important;
	margin: 0 20px !important;
	transform: translateY(-275px) !important;
	z-index: 999 !important;
	position: relative !important;
}

::ng-deep .property-banner .owl-theme .owl-nav [class*='owl-'] {
	background: rgb(0 0 0 / 51%) !important;
	height: 40px !important;
	width: 40px !important;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	font-size: 19px !important;
}

::ng-deep .bar1 .mat-progress-bar-fill::after {
	background-color: #00ba74 !important;
}
::ng-deep .bar2 .mat-progress-bar-fill::after {
	background-color: #fbb851 !important;
}
::ng-deep .bar3 .mat-progress-bar-fill::after {
	background-color: #83ce36 !important;
}
::ng-deep .bar4 .mat-progress-bar-fill::after {
	background-color: #e6453c !important;
}

/* Cambiar el color del ícono a rojo */
.mat-icon svg.mat-icon {
	fill: red; /* Cambia "red" al color que desees */
}

.sb-moon-theme {
	.sb-wrapper {
		padding: 10px; // Ajusta el relleno según tus necesidades
		background-color: #333; // Cambia el color de fondo según tus preferencias
		border-radius: 5px; // Agrega bordes redondeados según tus preferencias

		.sb-content {
			display: flex;
			align-items: center;

			.sb-icon {
				font-size: 24px; // Ajusta el tamaño del ícono según tus preferencias
				margin-right: 5px; // Ajusta el margen derecho según tus preferencias
				color: #fff; // Cambia el color del ícono según tus preferencias
			}

			.sb-text {
				font-size: 16px; // Ajusta el tamaño del texto según tus preferencias
				color: #fff; // Cambia el color del texto según tus preferencias
			}
		}

		&.sb-show-icon.sb-show-text {
			.sb-icon {
				// Estilos adicionales cuando se muestra el ícono
			}

			.sb-text {
				// Estilos adicionales cuando se muestra el texto
			}
		}
	}
}
