<div class=" card h-128 w-[390px] rounded-lg shadow-lg bg-white">
	<div class="h-[55%] relative">

		<img [src]="environment.assets+'/storage/properties/'+property.images[0].name" class="h-full w-full overflow-hidden" />
		<span class="absolute right-26 top-56 text-white bg-blue-400 px-4 py-2 text-sm rounded-md font-bold">Freatured</span>
		<span class="absolute right-8 top-56 text-white bg-gray-400 px-4 py-2 text-sm rounded-md font-bold">Buy</span>
		<span></span>
	</div>
	<div class="h-1/3 bg-[#fff] w-full flex flex-col gap-3 justify-center">
		<h3 class="ml-6 font-bold text-2xl text-gray-700 -mt-3">{{ property.name }}</h3>
		<p class="ml-6 font-semibold text-[14px] text-gray-500">{{ property.address }}</p>
		<div class="flex flex-row ml-6 gap-4 mt-2 relative">
			<span class="text-3xl text-blue-600 font-bold">${{ property.price }} </span>
			<p class="mt-2">Sqft</p>
			<span class="h-[1.5px] w-[320px] bg-gray-300 absolute top-14 left-2"></span>
		</div>
	</div>
	<span></span>
	<div class="stats w-full flex gap-5 mt-2">
		<div class="ml-[28px] flex gap-2 items-center">
			<mat-icon svgIcon="mat_outline:bed" class="text-blue-600 text-sm"></mat-icon>
			<span>{{ property.bedrooms }} </span>
		</div>
		<div class="flex gap-2 items-center">
			<mat-icon svgIcon="mat_outline:bathtub" class="text-blue-600 text-sm"></mat-icon>
			<span>{{ property.bathrooms }} </span>
		</div>
		<div class="flex gap-2 items-center">
			<mat-icon svgIcon="feather:move" class="text-blue-600 text-sm"></mat-icon>
			<span>{{ property.size }} sqft</span>
		</div>
	</div>
</div>