<div>
	<div>
		<img class="mb-11 mx-auto h-max-w-2/3 max-w-2/3" [src]="activeImagen" alt="">
	</div>
	<div class="owl-images-viewer max-w-192 mx-auto">
		<!-- <owl-carousel-o  class='owl-carousel-o' [options]="customOptions">
			<ng-template *ngFor="let img of data.images" carouselSlide id="carou1">
				<div [class.active]="activeImagen===img" (click)="activeImagen = img" class="cursor-pointer w-20 h-20 img bg-cover bg-no-repeat bg-center rounded-md" style="background-image: url({{img}});"></div>
			</ng-template>
		</owl-carousel-o> -->
	</div>
</div>