<div class="cont">
	<div [class.active-file]="isActive" class="w-full file-input relative cursor-pointer">
				<div class="text-center text-xl font-bold">
					Haz click aquí para seleccionar un archivo o arrastra y suelta el archivo aquí
				</div>
				<input (dragenter)="isActive = true" (dragleave)="isActive = false" [class.input-active]="multiple" [class.hidden]="!multiple" (change)="selectFile($event)" #fileInputMultiple type="file" multiple>
				<input (dragenter)="isActive = true" (dragleave)="isActive = false" [class.input-active]="!multiple" [class.hidden]="multiple" (change)="selectFile($event)" #fileInput type="file">
	</div>
</div>