.relativee::before {
	content: '';
	position: absolute;
	inset: 0;
	background-color: rgba(65, 64, 70, 0.836);
}


@keyframes zoom {
	0% {
		background-size: 100% 100%;
		background-position: center;
	}
	100% {
		background-size: 105% 105%;
		background-position: center;
	}
	}

	.zoom {
	animation: zoom 7s infinite alternate;
	transform-origin: center;
	}