<main class="w-full h-screen">
	<div class="w-full h-screen text-white bg-wave-pattern bg-cover bg-center">
		<div class="h-full w-full z-[2]">
			<div class="w-full h-full absolute">
				<div [class.opacity-0]="currentImageIndex !== i" class="w-full h-full zoom transition-all duration-1000 ease-in-out absolute" style="background-image: url({{ im }}); opacity: 1; background-size: 100% " *ngFor="let im of images; let i = index">
					<div class="w-full h-full" style="background-color: #0000007d"></div>
				</div>
			</div>
			<div class="max-w-[1440px] px-5 sm:px-10 md:px-22 h-full mx-auto my-auto flex flex-col justify-center gap-5 relative">
				<h1 class="text-white lg:text-[70px] text-6xl text-center lg:text-left font-bold">
					Encuentre La Futura <br class="hidden lg:inline-block" />
					Casa De sus Sueños
				</h1>
				<div [formGroup]="formLanding" class="relative flex justify-center items-center">
					<div class="bg-white justify-center rounded z-2 w-full lg:w-full h-auto md:h-22 flex flex-col md:flex-row md:w-full lg:flex-row items-center relative z-999 sm:w-[440px] sm:mx-auto">
						<!-- start main seeker -->
						<mat-chip-listbox aria-label="Fish selection" class="flex flex-col lg:flex-row mt-6 md:mt-0 lg:mt-0" formControlName="buyOrRent">
							<mat-chip-option class="rounded w-[150px] sm:w-[140px] md:w-[108px] md:ml-6 lg:ml-3" value="buy">Comprar</mat-chip-option>
							<mat-chip-option class="rounded w-[150px] sm:w-[140px] md:w-[95px] md:ml-6 lg:ml-2" value="rent">Rentar</mat-chip-option>
						</mat-chip-listbox>
						<!-- end main seeker -->
						<div class="lg:ml-7 h-full flex items-center">
							<div class="flex flex-col lg:flex-row md:flex-row items-center gap-4">
								<input type="text" placeholder="Ingrese palabras claves" class="text-lg text-gray-500 w-full md:w-[210px] lg:w-[280px] h-full mt-3 md:mt-0 lg:mt-0 text-left md:ml-3 lg:mr-0 lg:text-left" formControlName="keywords" />
								<span class="bg-gray-300 lg:h-12 lg:w-[1px] md:h-12 md:w-[1px] h-[1px] w-64 sm:w-[320px]"></span>
								<mat-form-field class="w-full flex items-center justify-center md:mt-[18px] lg:mt-[18px] z-99">
									<mat-select formControlName="property_type_id" class="w-full z-9999">
										<mat-option value="" class="z-99" selected>Seleccionar</mat-option>
										<mat-option class="z-99" *ngFor="let propertyType of propertyTypes" [value]="propertyType.id">{{ propertyType.name }}</mat-option>
									</mat-select>
								</mat-form-field>
								<span class="bg-gray-300 lg:h-12 lg:w-[1px] md:h-12 md:w-[1px] h-[1px] w-64 sm:w-[320px]"></span>
								<button (click)="toggleAdvanced()" type="submit" class="text-gray-500 ml-2 flex justify-center gap-2"><mat-icon svgIcon="mat_outline:settings" class="text-blue-500 text-left"></mat-icon> Avanzado</button>
								<span class="bg-gray-300 lg:h-12 lg:w-[1px] lg:ml-4 h-[1px] w-64 md:hidden sm:w-[320px]"></span>
								<button class="w-full md:w-32 md:ml-8 lg:ml-11 text-white bg-blue-500 lg:px-8 lg:py-4 px-4 py-2 rounded-md mb-6 md:mb-0 lg:mb-0" type="submit" (click)="onSubmit()">Buscar</button>
							</div>
						</div>
						<!-- end advances -->
					</div>
					<div
						[class.opacity-0]="!mainSeeker.get('advanced').value"
						[class.top-10]="!mainSeeker.get('advanced').value"
						[class.pointer-events-none]="!mainSeeker.get('advanced').value"
						[class.opacity-1]="mainSeeker.get('advanced').value"
						[class.top-24]="mainSeeker.get('advanced').value"
						[class.pointer-events-auto]="mainSeeker.get('advanced').value"
						class="absolute w-full bg-white h-auto left-0 shadow-2xl rounded transition-all top-72 lg:top-24 md:top-24 z-9999 mb-5 sm:w-[440px] sm:ml-[197px] md:ml-0 md:w-full lg:w-full"
						style="height: 0px"
					>
						<!-- start advances search -->
						<div class="grid grid-cols-1 md:grid-cols-3 text-gray-400 px-7 pt-8 h-3/5 gap-3 z-9999">
							<div>
								<h2 class="text-lg font-semibold text-gray-600">Baños</h2>
								<mat-form-field class="w-full">
									<mat-select formControlName="bathrooms">
										<mat-option value="" selected>Seleccionar</mat-option>
										<mat-option value="2">2</mat-option>
										<mat-option value="3">3</mat-option>
										<mat-option value="+4">+4</mat-option>
									</mat-select>
								</mat-form-field>
							</div>

							<div>
								<h2 class="text-lg font-semibold text-gray-600">Cuartos</h2>
								<mat-form-field class="w-full">
									<mat-select formControlName="bedrooms">
										<mat-option value="" selected>Seleccionar</mat-option>
										<mat-option value="2">2</mat-option>
										<mat-option value="3">3</mat-option>
										<mat-option value="+4">+4</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<div>
								<h2 class="text-lg font-semibold text-gray-600">Tamaño</h2>
								<mat-form-field class="w-full">
									<input matInput formControlName="size" placeholder="Tamaño" type="number" class="w-full" />
									<div matSuffix>m<sup>2</sup></div>
								</mat-form-field>
							</div>
						</div>

						<div>
							<h3 class="pl-7 text-md text-gray-600 font-semibold mt-4">Preferencias</h3>
							<div class="grid grid-cols-2 md:grid-cols-4 px-7 pt-3 gap-x-7 gap-y-2 mb-[30px] mt-1">
								<div class="flex flex-row gap-4">
									<mat-checkbox (change)="onChangeCheckbox('parking')" formControlName="parking" class="example-margin">Estacionamiento</mat-checkbox>
								</div>
								<div class="flex flex-row gap-4">
									<mat-checkbox (change)="onChangeCheckbox('kitchen')" formControlName="kitchen" class="example-margin">Cocina</mat-checkbox>
								</div>
								<div class="flex flex-row gap-4">
									<mat-checkbox (change)="onChangeCheckbox('elevator')" formControlName="elevator" class="example-margin">Elevador</mat-checkbox>
								</div>
								<div class="flex flex-row gap-4">
									<mat-checkbox (change)="onChangeCheckbox('wifi')" formControlName="wifi" class="example-margin">Wifi</mat-checkbox>
								</div>
								<div class="flex flex-row gap-4">
									<mat-checkbox (change)="onChangeCheckbox('fireplace')" formControlName="fireplace" class="example-margin">Chimenea</mat-checkbox>
								</div>
								<!-- <div class="flex flex-row gap-4">
									<mat-checkbox (change)="onChangeCheckbox('level')" formControlName="level" class="example-margin">Niveles</mat-checkbox>
								</div> -->
								<div class="flex flex-row gap-4">
									<mat-checkbox (change)="onChangeCheckbox('security')" formControlName="security" class="example-margin">Seguridad</mat-checkbox>
								</div>
								<div class="flex flex-row gap-4">
									<mat-checkbox (change)="onChangeCheckbox('lobby')" formControlName="lobby" class="example-margin">Vestibulo</mat-checkbox>
								</div>
								<div class="flex flex-row gap-4">
									<mat-checkbox (change)="onChangeCheckbox('balcony')" formControlName="balcony" class="example-margin">Balcon</mat-checkbox>
								</div>
								<div class="flex flex-row gap-4">
									<mat-checkbox (change)="onChangeCheckbox('terrace')" formControlName="terrace" class="example-margin">Terraza</mat-checkbox>
								</div>
								<div class="flex flex-row gap-4">
									<mat-checkbox (change)="onChangeCheckbox('power_plant')" formControlName="power_plant" class="example-margin">Electrica</mat-checkbox>
								</div>
								<div class="flex flex-row gap-4">
									<mat-checkbox (change)="onChangeCheckbox('gym')" formControlName="gym" class="example-margin">Gimnasio</mat-checkbox>
								</div>
								<div class="flex flex-row gap-4">
									<mat-checkbox (change)="onChangeCheckbox('walk_in_closet')" formControlName="walk_in_closet" class="example-margin">Vestidor</mat-checkbox>
								</div>
								<div class="flex flex-row gap-4">
									<mat-checkbox (change)="onChangeCheckbox('kids_area')" formControlName="kids_area" class="example-margin">Area de niños</mat-checkbox>
								</div>
								<div class="flex flex-row gap-4">
									<mat-checkbox (change)="onChangeCheckbox('pets_allowed')" formControlName="pets_allowed" class="example-margin">Mascotas permitidas</mat-checkbox>
								</div>
								<div class="flex flex-row gap-4">
									<mat-checkbox (change)="onChangeCheckbox('central_air_conditioner')" formControlName="central_air_conditioner" class="example-margin">Aire central</mat-checkbox>
								</div>
							</div>
						</div>
					</div>
				</div>

				<p class="text-[16px] font-bold px-4 lg:px-0 text-center lg:text-left"><span class="text-4xl"></span> Agencia De Servicios inmobiliarios inteligentes</p>
			</div>
		</div>
	</div>
	<!-- end landing page -->
	<!-- start explore cities -->
	<section class="bg-[#FFFFFF] flex py-20 justify-center">
		<div class="w-full flex flex-col justify-center max-w-[1440px] px-5 sm:px-10 md:px-22">
			<p class="text-gray-400 text-center text-xl lg:text-left lg:text-2xl font-bold mx-3 lg:mx-0 mb-2 lg:mb-0">Encuentra tu tipo de propiedad ideal</p>
			<h2 class="text-center text-4xl lg:text-left lg:text-7xl font-bold text-gray-800 mx-2">Tipos de propiedades</h2>
			<div class="flex gap-7">
				<app-carousel class="w-full px-10 mt-4" [breakpoints]="propertyTypesBreakPoints">
					<div class="h-60 mt-3 relative keen-slider__slide" *ngFor="let type of propertyTypes">
						<div class="h-full w-full bg-cover bg-no-repeat rounded" [style]="'background-image: url(' + environment.assets + '/property-types/' + type.id + '.png)'" (click)="onCardClick(type.id)">
							<div class="bg-black/60 h-60 w-full flex flex-col justify-between px-5 py-3">
								<span class="left-4 bg-white px-2 py-1 rounded-md font-semibold text-[14px]">{{ type.properties_count }} Propierties</span>
								<span class="text-xl font-bold text-white left-3">{{ type.name }}</span>
							</div>
						</div>
					</div>
				</app-carousel>
			</div>
		</div>
	</section>
	<!-- end explore cities -->
	<!-- start lastest propierties -->
	<section class="w-full text-black flex flex-col justify-center items-center bg-[#f0f0f0]">
		<div class="max-w-[1440px] px-5 sm:px-10 md:px-22 py-16">
			<p class="text font-semibold text-[15px] text-center lg:text-[17px]">Explorar ofertas interesantes</p>
			<h2 class="lg:text-[52px] font-bold text-center text-[42px]">Propiedades destacadas</h2>
			<p class="mt-3 font-[19px] text-center">Las mejores propiedades a tu dispocisión</p>

			<app-carousel class="px-10 mt-4" [breakpoints]="lattestPropertiesBreakPoints" style="max-width: 100vw">
				<div *ngFor="let property of dataProperties" class="keen-slider__slide">
					<div class="w-full sm:w-100 m-auto">
						<app-property-card [property]="property"></app-property-card>
					</div>
				</div>
			</app-carousel>
		</div>
		<button (click)="goToAdvancedSearch()" class="px-2 py-3 bg-blue-500 text-white text-lg rounded-md -mt-9 mb-7">Ver más</button>
	</section>

	<!-- end lastest propierties -->

	<!-- statart lasted news articles -->

	<section class="bg-[#FFFFFF] pb-8 w-full justify-center items-center px-10 lg:px-22 py-16">
		<div class="flex flex-col lg:flex-row gap-10 max-w-[1440px] px-5 sm:px-10 md:px-22 justify-center mx-auto">
			<div class="bg-white lg:w-4/12 flex flex-col justify-center gap-4 -mt-3 lg:mt-0 w-full">
				<p class="text-blue-400 font-semibold text-lg text-center lg:text-left">Nuestras Publicaciones</p>
				<h2 class="text-gray-700 font-bold text-6xl text-center lg:text-left lg:text-[48px] lg:leading-[62px] leading-[52px]">Ultimas propiedades</h2>
				<p class="lg:text-left text-center text-[16px] leading-[30px]">Lo mas reciente para ti</p>
				<button (click)="explorerProperties()" class="px-2 py-3 bg-blue-500 text-white text-lg rounded-md mt-4">Explorar propiedades</button>
			</div>

			<div class="lg:w-8/12 w-full">
				<app-carousel class="px-10 lg:p-0" [breakpoints]="featurePropertiesBreakPoints">
					<div class="h-100 bg-[#f0f0f0] rounded-md shadow-xl keen-slider__slide cursor-pointer" *ngFor="let property of dataProperties" (click)="goToPropertyView(property.id)">
						<div class="h-[55%] relative">
							<img [src]="environment.assets + '/storage/properties/' + property.images[0].name" alt="" class="w-full h-full object-cover rounded-t-md" />
							<span class="absolute px-3 py-2 bg-blue-500 text-white rounded text-base font-semibold top-[92%] left-6">Diciembre 8, 2021</span>
						</div>
						<div class="h-1/3 flex flex-col justify-center">
							<h2 class="text-gray-800 font-bold text-[23px] mt-10 ml-4">Lorem ipsum dolor sit amet</h2>
							<div class="ml-4 mt-4">
								<span class="text-gray-400">By Admin /</span>
								<span class="text-gray-400"> 0 Comentarios</span>
							</div>
						</div>
					</div>
				</app-carousel>
			</div>
		</div>

		<!-- end cards  -->
	</section>
	<!-- end lasted news articles -->

	<!-- start companies -->
	<section class="w-full flex items-center justify-center bg-[#f0f0f0]">
		<app-carousel class="p-8 flex items-center flex-col justify-center xl:mt-0 h-72 bg-[#f0f0f0] px-8 w-[90%] gap-y-6">
			<div class="keen-slider__slide">
				<img src="https://www.gavias-theme.com/wp/tolips/wp-content/uploads/2020/12/brand-5.png" alt="" class="w-28 h-full m-auto" />
			</div>
			<div class="keen-slider__slide">
				<img src="https://www.gavias-theme.com/wp/tolips/wp-content/uploads/2020/12/brand-1.png" alt="" class="w-28 h-full m-auto" />
			</div>
			<div class="keen-slider__slide">
				<img src="https://www.gavias-theme.com/wp/tolips/wp-content/uploads/2020/12/brand-5.png" alt="" class="w-28 h-full m-auto" />
			</div>
			<div class="keen-slider__slide">
				<img src="https://www.gavias-theme.com/wp/tolips/wp-content/uploads/2020/12/brand-1.png" alt="" class="w-28 h-full m-auto" />
			</div>
			<div class="keen-slider__slide">
				<img src="https://www.gavias-theme.com/wp/tolips/wp-content/uploads/2020/12/brand-5.png" alt="" class="w-28 h-full m-auto" />
			</div>
		</app-carousel>
	</section>
	<!-- end companies  -->

	<!-- section footer -->

	<section class="lg:h-[75vh] bg-[#293045] flex px-20 py-10 justify-center">
		<div class="max-w-[1150px] flex w-full flex-col lg:flex-row gap-6 lg:gap-0">
			<div class="lg:w-1/3 w-full flex flex-col justify-center px-3 gap-4 lg:gap-6">
				<h2 class="text-2xl font-bold text-white text-center lg:text-left">LOGO</h2>
				<p class="text-base text-gray-200 leading-7 text-center lg:text-left sm:mx-5 lg:mx-0">Lorem ipsum dolor sit ame consect etur pisicing elit sed do eiusmod tempor incididunt ut labore.</p>
				<div class="flex gap-3 items-center sm:justify-center lg:justify-start bg-[#202739] shadow-lg rounded-[5px] px-1 py-4 mt-4">
					<mat-icon svgIcon="mat_outline:call" class="text-[32px] text-blue-600 ml-4 mr-2"></mat-icon>
					<div class="gap-2">
						<p class="text-gray-400">Contactar agentes</p>
						<button class="text-gray-300 mt-1">00-000-000-000</button>
					</div>
				</div>
			</div>
			<div class="lg:w-1/5 w-full flex flex-col justify-center">
				<h2 class="text-xl text-white font-bold lg:ml-8 mb-10 text-center lg:text-left">Explorar</h2>
				<ul class="text-gray-300 ml-8 text-[15px] flex lg:flex-col flex-row flex-wrap gap-4 font-semibold text-center lg:text-left sm:justify-center">
					<li class=""><a href="#">Accion</a></li>
					<li class=""><a href="#">Accion</a></li>
					<li class=""><a href="#">Accion</a></li>
					<li class=""><a href="#">Accion</a></li>
					<li class=""><a href="#">Accion</a></li>
				</ul>
			</div>
			<div class="lg:w-1/5 w-full flex flex-col justify-center">
				<h2 class="text-xl text-white font-bold mb-10 text-center lg:text-left">Cuenta</h2>
				<ul class="text-gray-300 ml-3 text-[15px] flex lg:flex-col flex-wrap gap-4 font-semibold text-center lg:text-left sm:justify-center">
					<li class=""><a href="#">Accion</a></li>
					<li class=""><a href="#">Accion</a></li>
					<li class=""><a href="#">Accion</a></li>
					<li class=""><a href="#">Accion</a></li>
					<li class=""><a href="#">Accion</a></li>
				</ul>
			</div>

			<div class="lg:w-2/5 w-full flex flex-col justify-center gap-8 items-center lg:items-start">
				<h2 class="text-xl text-white font-bold text-centerlg:text-left">Contactanos</h2>
				<form action="" class="w-full flex items-center flex-col lg:items-start">
					<input type="text" class="bg-white px-4 py-6 text-center text-sm w-[80%] font-semibold rounded-md" placeholder="Escribe aqui..." />
					<button type="submit" class="bg-blue-600 text text-md text-white text-center w-[80%] mt-2 py-[22px] rounded-md">Enviar</button>
				</form>
				<p class="font-semibold text-gray-300 w-full mx-auto text-center lg:text-left">88 Broklyn Golden Street, New York. USA needhelp@example.com</p>
			</div>
		</div>
	</section>

	<!-- end section footer -->
</main>
